<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2026-04-25T23:59:35Z</date>
	<key>WorkspacePath</key>
	<string>/Users/hades/Desktop/Code/26/03/待用源码-游戏类/0316-4/FlashMemory/FlashMemory.xcodeproj</string>
</dict>
</plist>
